/* SETTING BODY AREA */
body {
	background-color: #aaaa55;
	font-family: arial;
	padding: 0;
	margin: 0;

} 
/* ID Wrapper */
#wrapper {
	width: 1000px;
	padding: 20px;
	background-color: white;
	min-height: 300px;
	border-radius: 10px;
	margin: 40px auto;

}
/*Ini adalah tag header*/
header {
	font-size: 48px;
	font-weight: bold;
	color: black;
	text-shadow: 2px 2px dimgray;
	
}
/*TAG NAV*/
nav	{
	background-color: #f56555;
	border: solid thin #f1f1f1;
	color: white;
	height: 60px;
	margin: 10px 0;

}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	padding: 0;
	height: 60;
	float: left;
	display: inline-block;
	margin: 0;
}
nav ul li a {
	padding: 20px;
	color: white;
	font-weight: bold;
	float: left;
}
nav ul li a:hover {
	background-color: black;
}
/*ID SLIDER*/
#slider {
	min-height: 300px;
	background-color: gray;
	margin-bottom: 10px;

}
/*CLASS KOTAK*/
.kotak {
	min-height: 300px;
	padding: 10px 0;
	margin-bottom: 10px;

}
/*CLASS BERITA*/
.berita {
	width: 470px;
	min-height: 300px;
	background-color: green;
	float: left;
	padding: 10px;
	border-radius: 5px;
}
/*CLASS ALAMAT*/
.alamat {
	width: 470px;
	min-height: 300px;
	background-color: green;
	float: right;
	padding: 10px;
	border-radius: 5px;
}
/*CLASS CLEARFIX*/
.clearfix {
	clear: both;
	display: block;
	margin-bottom: 10px;

}
/*TAG FOOTER*/
footer {
	text-align: center;
	color: black;
	padding: 10px 20px;
	border-top: solid thin palegreen;

}
#slider img {
	width: 1000px;
	height: 500px;
}
.berita img {
	width: 470px;
	height: 500px;
}
.berita header {
	color: black;
	border-bottom: solid thin white;
}
.alamat iframe {
	width: 470px;
	height: 500px;
}
.alamat header {
	color: black;
	border-bottom: solid thin white;
}
.berita2 img {
	width: 200px;
	height: 200px;
    border-collapse: collapse;
    padding: 20px;
}
.berita2 {
	width: 240px;
	min-height: 200px;
	float: left;
	padding: 0px;
	border-radius: 5px;
	border: 2px solid black;
}
.alamat2 {
	width: 720px;
	min-height: 500px;
	float: right;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid black;
}
.alamat2 img {
	width: 720px;
	height: 500;
}
p {
	text-align: justify;
	text-align: center;
}
.n1 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n2 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n3 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n4 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n5 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n6 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n7 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.n8 {
	float: left;
	margin: 10px 0;
	padding: 13px;
}
.katalog img {
	width: 220px;
	height: 220px;
	border: 2px solid black;
}
.katalog p {
	font-weight: bold;
	padding: 1px;
	margin: 1px;
}
.peta iframe {
	width: 270px;
	height: 400px;
	border: 2px solid black;
}
.peta {
	width: 273px;
	min-height: 200px;
	float: left;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid black;
}
.detail {
	width: 675px;
	min-height: 500px;
	float: right;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid black;
}
.detail img {
	width: 676px;
	height: 350px;
	border-radius: 2px;
}